server {
    server_name timjose.com;
    
    listen 80;
    listen [::]:80;
    
    root /usr/share/nginx/html;

    index  index.html index.htm;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  
  root /usr/share/nginx/html;
  
  index  index.html index.htm;

  ssl_certificate /etc/letsencrypt/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/privkey.pem;
}