$light-blue: rgb(23, 200, 255);
$my-blue: rgb(13, 69, 255);
$light-gray: rgb(240, 240, 240);
$gray: rgb(35,35,35);
$mid-gray: rgb(50, 50, 50);

html, body, #root {
  width: 100%;
  color: white;
  background-color: $gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}